body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-weight: 400;
	margin: 0;
}

table {
	width: 100%;
	text-align: center;
	margin-top: 2em;
}

tbody tr:nth-child(odd) {
	background-color: #dddddd;
}
tbody tr:nth-child(even) {
	background-color: #f4f4f4;
}

tbody tr td:nth-child(3), tbody tr td:nth-child(4) {
	text-align: right;

}

.subtotal td,
.subtotal .label,
.tax td,
.tax .label {
	background-color: #ffffff;
}

.total td,
.total .label {
	background-color: #ffffff;
	font-weight: bold;
}

.logo {
	float: right;
	height: 4em;
}